.content-xxx {
  > * ~ * { margin-top: 1rem; }

  hbox {
    width: 40rem;
    height: 30rem;

    background: $COLOR_GREY;
    border: 1em solid $COLOR_GREY;
  }

  img {
    width: 100%;
    height: 100%;

    object-fit: contain;
  }
}
