<box fit vertical
  class='content-xxx'
  align='center'
  justify='center'>

  <img src={{xxxImageUrl}}>

  <button {{action (route-action 'loadMoreXxx')}}
    disabled={{if isFetchingImage 'true' null}}>

    more xxx plz
  </button>
</box>
