<screen>
  <page align='center'>
    <div class='header'>
      <h1 class='tk-chuck'>
        {{link-to 'embers only' 'index'}}
      </h1>

      <h2>
        <marquee>your source for xxx action bubbling!!!</marquee>
      </h2>
    </div>

    <box fit vertical
      class='content'
      align='center'
      xs='10' sm='8' md='6' lg='4'>

      {{liquid-outlet}}
    </box>
  </page>
</screen>
