<screen>
  <page>
    <box fit vertical
      align='center'
      justify='center'>

      <h1>{{link-to 'embers-only' 'index'}}</h1>
      <h2>your source for xxx action bubbling</h2>
    </box>

    {{outlet}}
  </page>
</screen>
